.form-add-product {
    display: flex;           
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
}

input {
  margin-top: 2%;
  background-image: none;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 8px 0 #cfd6d6;
  height: 3rem;
  outline: none;
  width: 28rem;
  text-indent: 10px;
}


.btn-add {
  margin-left: 40%;
  margin-top: 2%;
  background-color: #443bff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  outline: inherit;
  padding: 5rem,5rem,8rem,8rem;
  height: 3rem;
  width: 5rem;
  color: #fff;
  box-shadow: 0 2px 8px 0 #cfd6d6;
}

.outer-div {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}